%h1 Your courses
%button.btn.btn-success.mb-3{"data-container" => "body", "data-content" => "Your Courses", "data-placement" => "right", "data-toggle" => "popover", "data-trigger" => "focus", :type => "button"}
  Total Course : 
  %span.badge.badge-light= @courses.count
= link_to new_course_path, class: "btn btn-primary mb-3 float-right" do
  %span.fa.fa-plus
  Add New Course

- unless @courses.any?
  .card 
    .card-header.text-center.alert.alert-secondary
      No courses found
    .card-body 
      You don't have any courses, buy one 
      = link_to 'Here', new_course_path
- else 
  .card-columns 
    - @courses.each do |course|
      = render 'courses/course', course: course

%br

