- content_for :navbar do  
  %nav.navbar.sticky-top.navbar-expand-md.navbar-light.bg-light
    .container
      %a.navbar-brand{:href => "#"} Navbar
      %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarNavDropdown.collapse.navbar-collapse
        %ul.navbar-nav
          %li.nav-item.active
            %a.nav-link{:href => "#"}
              Home
              %span.sr-only (current)
          %li.nav-item
            = link_to root_path, class: "nav-link" do
              Features
          %li.nav-item
            %a.nav-link{:href => "#"} Pricing
          - if user_signed_in?
            %li.nav-item.dropdown
              %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                = current_user.email
              .dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
                = link_to edit_user_registration_path, :method => :delete, class: "dropdown-item" do
                  %span.fas.fa-cog
                  Account Settings 
                = link_to destroy_user_session_path, :method => :delete, class: "dropdown-item" do
                  %span.fas.fa-sign-out-alt
                  Logout 